PUERTO_ESCUCHA=5001
PUNTO_MONTAJE=/home/utnso/desktop/afip
LOG_FILE=/home/utnso/workspace/tp-2020-2c-CoronaLinux/Sindicato/logs/Sindicato.log
NOMBRE_APLICACION=Sindicato
LOG_CONSOLA=0
LOG_LEVEL_INFO=0
DEBUG_LOG_FILE=/home/utnso/workspace/tp-2020-2c-CoronaLinux/Sindicato/logs/DebugSindicato.log
DEBUG_NOMBRE_APLICACION=DebugSindicato
DEBUG_LOG_CONSOLA=0 
DEBUG_LOG_LEVEL_INFO=0