PUERTO_ESCUCHA=5003
PUNTO_MONTAJE=/home/utnso/workspace/tp-2020-2c-CoronaLinux/Sindicato/afip
LOGS_PATH=/home/utnso/workspace/tp-2020-2c-CoronaLinux/Sindicato/logs
LOG_FILE=/home/utnso/workspace/tp-2020-2c-CoronaLinux/Sindicato/logs/Sindicato.log
NOMBRE_APLICACION=Sindicato
LOG_CONSOLA=0
LOG_LEVEL_INFO=0
DEBUG_LOG_FILE=/home/utnso/workspace/tp-2020-2c-CoronaLinux/Sindicato/logs/DebugSindicato.log
DEBUG_NOMBRE_APLICACION=DebugSindicato
DEBUG_LOG_CONSOLA=0 
DEBUG_LOG_LEVEL_INFO=0
SINDICATO_ID=7
