IP_COMANDA=127.0.0.1
PUERTO_COMANDA=5001
PUERTO_ESCUCHA=5004
RETARDO_CICLO_CPU=1
GRADO_DE_MULTIPROCESAMIENTO=1
ALGORITMO_DE_PLANIFICACION=SJF-SD
ALPHA=0,5
ESTIMACION_INICIAL=2
REPARTIDORES=3,5|1,1
FRECUENCIA_DE_DESCANSO=3|2
TIEMPO_DE_DESCANSO=4|2
ARCHIVO_LOG=/home/utnso/logs/app.log
PLATOS_DEFAULT=Milanesa|Ensalada
POSICION_REST_DEFAULT_X=0
POSICION_REST_DEFAULT_Y=0